body {
  background: #ffd5d5;
}
h1 {
  font-weight: bolder;
  color: #072559;
  font-size: 50px;
  border: dotted;
  border-width: thick;
  text-align: center;
}
p {
  color: black;
  text-align: left;
  font-size: 18px;
}
h2 {
  font-weight: bolder;
  color: #072559;
  font-size: 25px;
  border-width: thick;
  text-align: center;
}
a {
  display:block;
  font-weight: bolder;
  color: #072559;
  font-size: 25px;
  border-width: thick;
  text-align: center;
}
li {
  font-weight: bolder;
  color: #072559;
  font-size: 25px;
  border-width: thick;
}
.intro {
  text-align: center;
}
img {
  width: 150px;
}
